<VirtualHost  {{ new_host }}:80>
SuexecUserGroup "#504" "#503"
ServerName webmail.taxesforexpats.com
ServerAlias www.webmail.taxesforexpats.com
Redirect "/" "https://webmail.taxesforexpats.com/"
ServerAlias  {{ new_host }}:8181
DocumentRoot  {{ doc_root }}
ErrorLog /var/log/virtualmin/webmails.taxesforexpats.com_error_log
CustomLog /var/log/virtualmin/webmails.taxesforexpats.com_access_log combined
ScriptAlias /cgi-bin/ /home/taxesfor/domains/webmail.taxesforexpats.com/cgi-bin/
DirectoryIndex index.php index.php4 index.php5
<Directory  {{ doc_root }}>
Options -Indexes +IncludesNOEXEC +SymLinksifOwnerMatch +ExecCGI
Require all granted
AllowOverride All Options=ExecCGI,Includes,IncludesNOEXEC,Indexes,MultiViews,SymLinksIfOwnerMatch
AddHandler fcgid-script .php
AddHandler fcgid-script .php5
#FCGIWrapper /home/taxesfor/domains/webmail.taxesforexpats.com/fcgi-bin/php5.fcgi .php
#FCGIWrapper /home/taxesfor/domains/webmail.taxesforexpats.com/fcgi-bin/php5.fcgi .php5
AddHandler php5-script .php .html
</Directory>
<Directory /home/taxesfor/domains/webmail.taxesforexpats.com/cgi-bin>
Require all granted
AllowOverride All Options=ExecCGI,Includes,IncludesNOEXEC,Indexes,MultiViews,SymLinksIfOwnerMatch
</Directory>
#RewriteEngine on
RemoveHandler .php
RemoveHandler .php5
IPCCommTimeout 31
SSLEngine on
SSLCertificateFile /home/taxesfor/rails_apps/webmail/20151216/webmail_taxesforexpats_com.crt
SSLCertificateKeyFile /home/taxesfor/rails_apps/webmail/20151216/v_webmail.taxesforexpats.com.key
#SSLCACertificateFile /home/taxesfor/rails_apps/webmail/20151216/COMODORSADomainValidationSecureServerCA
#SSLCACertificateFile /home/taxesfor/rails_apps/webmail/20151216/COMODORSAAddTrustCA.crt
#SSLCACertificateFile /home/taxesfor/rails_apps/webmail/20151216/AddTrustExternalCARoot.crt
SSLCertificateChainFile /home/taxesfor/rails_apps/webmail/20151216/webmail_taxesforexpats_com.ca_bundle
#php_admin_value engine Off
#FcgidMaxRequestLen 1073741824
</VirtualHost>

<VirtualHost  {{ new_host }}:443>
SuexecUserGroup "#504" "#503"
ServerName webmail.taxesforexpats.com
ServerAlias www.webmail.taxesforexpats.com
ServerAlias  {{ new_host }}:8181
DocumentRoot  {{ doc_root }}
ErrorLog /var/log/virtualmin/webmails.taxesforexpats.com_error_log
CustomLog /var/log/virtualmin/webmails.taxesforexpats.com_access_log combined
ScriptAlias /cgi-bin/ /home/taxesfor/domains/webmail.taxesforexpats.com/cgi-bin/
DirectoryIndex index.php index.php4 index.php5
<Directory  {{ doc_root }}>
Options -Indexes +IncludesNOEXEC +SymLinksifOwnerMatch +ExecCGI
Require all granted
AllowOverride All Options=ExecCGI,Includes,IncludesNOEXEC,Indexes,MultiViews,SymLinksIfOwnerMatch
AddHandler fcgid-script .php
AddHandler fcgid-script .php5
#FCGIWrapper /home/taxesfor/domains/webmail.taxesforexpats.com/fcgi-bin/php5.fcgi .php
#FCGIWrapper /home/taxesfor/domains/webmail.taxesforexpats.com/fcgi-bin/php5.fcgi .php5
AddHandler php5-script .php .html
</Directory>
<Directory /home/taxesfor/domains/webmail.taxesforexpats.com/cgi-bin>
Require all granted
AllowOverride All Options=ExecCGI,Includes,IncludesNOEXEC,Indexes,MultiViews,SymLinksIfOwnerMatch
</Directory>
#RewriteEngine on
RemoveHandler .php
RemoveHandler .php5
IPCCommTimeout 31
SSLEngine on
SSLCertificateFile /home/taxesfor/rails_apps/webmail/20151216/webmail_taxesforexpats_com.crt
SSLCertificateKeyFile /home/taxesfor/rails_apps/webmail/20151216/v_webmail.taxesforexpats.com.key
#SSLCACertificateFile /home/taxesfor/rails_apps/webmail/20151216/COMODORSADomainValidationSecureServerCA
#SSLCACertificateFile /home/taxesfor/rails_apps/webmail/20151216/COMODORSAAddTrustCA.crt
#SSLCACertificateFile /home/taxesfor/rails_apps/webmail/20151216/AddTrustExternalCARoot.crt
SSLCertificateChainFile /home/taxesfor/rails_apps/webmail/20151216/webmail_taxesforexpats_com.ca_bundle
#php_admin_value engine Off
#FcgidMaxRequestLen 1073741824
</VirtualHost>
